/* :root {
  color-scheme: light dark;
} */


body{
    font-family: sans-serif;
    color: ;
    font-size: ;
}

header{
    text-align: center;
}

h1{
    color: #4676a9;
    text-align: center;
    
}

h2{
    color: #cb721c;
}

footer{
    background-color: #22466c;
    color: #ffffff;
}

header{
    ali
}